*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Patrick Hand', cursive;
    color: black;
}
.block{
    height: 15vh;
}
.contain{
    height: 85vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 51px 3px 51px 3px/3px 51px 3px 51px;
    border: solid 7px #41403E;
}
.title{
    font-weight: 700;
}
.field{
    width: -webkit-calc(60% - 30px);
    margin-top: 30px;
    margin-left: 30px;
    font-size: 24px;
    display: flex;
    justify-content: space-between;
}
.input{
    width: 60%;
    border-radius: 51px 3px 51px 3px/3px 51px 3px 51px;
    border: solid 4px #41403E;
}
.checkbox{

}
.button{
    background: white;
    border-radius: 102px 6px 102px 6px/6px 102px 6px 102px;
    border: solid 2px #41403E;
    padding: 5px 10px;
    filter: drop-shadow(4px 4px 0 black);
    /* box-shadow: ; */
}
.right{
    flex-direction: row-reverse;
}
@media only screen and (max-width: 600px) {
    .field{
        width: 90%;
        margin: 30px auto;
    }
  }