*{
    margin: 0;
    padding: 0;
}

.total{
    position: absolute;
    display: flex;
    flex-direction: row;
    width: 100%;

}
.m-nav{
    border-right: 2px solid black;
}
.nav-left{
    position: relative;

    width: 230px;
    height: 100vh;
    display: flex;
    flex-direction: column;

    
}
.nav-left p{
    position: relative;
    margin-top: 30px;;
     left: 10px;
     color: black;
     font-weight: 700;
}

.nav-left a{
    position: relative;
    display: flex;
    flex-direction: column;
    left: 18px;
    padding-top: 3px;
}
.nav-right{
    position: relative;
    display: flex;
    flex-direction: column;
}

.table1{
    position: relative;
    margin-top: 70px;
    margin-left: 30px;
    margin-right: 30px;
}