*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #303030;
}
.button.is-light {
    background-color: #f5f5f5;
    border-color: transparent;
    color: rgba(85, 83, 83, 0.7);
    right: 7px;
    position: fixed;

}
.menu-list a {
    border-radius: 2px;
    color: white;
    display: block;
    padding: .5em .75em;
}

.menu-label {
    color: rgb(141, 50, 50);
    font-size: .75em;
    letter-spacing: .1em;
    text-transform: uppercase;
    padding: .1em .25em;
}
.t-c{
    width: 25px;
}
.menu{
    /* width: 15%; */
    background: rgba(83, 83, 83, 0.39);
}
@media only screen and (max-width: 600px) {
    .menu{
        width: 40%;
    }
    }
  }
